.header > h2 {
  margin: 0;
}

.header > nav {
  justify-content: center;
  box-sizing: border-box
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  height: 80px;
  justify-content: space-between;
  background-color: rgb(26, 24, 24);
  position: sticky;
}

.header > nav {
  padding: 0 40px;
}

.nav {
  margin: 0 20px;
  padding: 30px 0;
}

.nav:hover {
  text-decoration: underline;
}

.white {
  color: white;
  text-decoration: none;
}

.big {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 40px;
}