.search {
  width: 450px;
  height: 80px;
  border: 1px solid white;
}

.itemsContainer {
  width: 1600px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.items {
  width: 360px;
  height: 570px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-decoration: none;
  margin: 50px 80px;
  background-color: rgb(31, 30, 29);
}

.items:hover {
  background-color: rgb(75, 74, 72);
}

.items-image {
  height: 420px;
  width: 360px;
}

.description {
  flex: 1 1;
  width: 360px;
}

.name {
  padding: 20px;
}

.genres {
  padding: 0 0 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description > p, h4 {
  margin: 0;
}

.price {
  padding-left: 260px;
}